<h1>About Me</h1>
<hr />

<div>
I am an Applied mathematician with experience working on cross-displinary problems using mathematical, statistical and computational approaches. I graduated with a doctorate in Applied Mathmeatics from University of Colorado Boulder in 2022. My doctorate research was focused on studying group decisions and collective behavior working in animal groups. I currently work as a Postdoctoral Research Scientist at Mailman School of Public Health where I am building a model inference system for infectious disease transmission that accounts for the structure of households in the community. 
</div>
