<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Doctoral Candidate in Applied Mathematics</h1>
            <span>University of Colorado - Boulder</span>
            <span><address>Boulder, CO, US</address><time>2017 to present</time></span>
        </header>
        <p>
            <em>I study bees, dances and bee dances.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Sc. in Mathematics</h1>
            <span>Trinity College</span>
            <span><address>Hartford, CT, US</address><time>2013 to 2017</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
