
<section class="thirteen columns">
    <h1>Presentations and Invited Talks</h1>
    <article>
        <header>
            <h1>SIAM Conference on Life Sciences (Virtual)</h1>
            <span><address>Hive geometry shapes social information transfer in honeybee colonies</address><time>June 2020</time></span>
        </header>
        <p>
            Project description?
        </p>
    </article>
    
    <article>
        <header>
            <h1>Another One, cause we keep producing</h1>
            <span><address>The Math Publication Paper</address><time>August, 2020</time></span>
        </header>
        <p>
            Also why?
        </p>
    </article>
</section>


\cventry{May 2019, Sept 2019}{Social inhibition maintains adaptivity and consensus of honey bees foraging in dynamic environments}{}{}{}{Poster at SIAM Applications of Dynamical Systems, Snowbird \\Mini-symposium, SIAM Northern States Annual Meeting, Wyoming}

\cventry{August 2018}{Optimizing flexibility in the collective decisions of honeybees}{}{}{}{Mini-symposium, SIAM Life Science, Minnesota \\Invited speakers Session, Mathfest, Denver}

\cventry{August 2016}{Modeling Influenza on a college campus using graphs of Social Networks}{}{}{}{Pi Mu Epsilon Student Paper Sessions, Mathfest, Columbus \\ Undergraduate Capstone Conference, Mathematics Biosciences Institute, Ohio State University}
