
<section class="thirteen columns">
    <h1>Presentations</h1>
    <article>
        <header>
            <h1>Hive geometry shapes social information transfer in honeybee colonies</h1>
            <span><address>SIAM Virtual Conference on Life Sciences</address><time>June 2020</time></span>
        </header>
        <p>
            Project description?
        </p>
    </article>
    
    <article>
        <header>
            <h1> Social inhibition maintains adaptivity and consensus of honey bees foraging in dynamic environments</h1>
            <span><address>Poster at SIAM Applications of Dynamical Systems, Snowbird & Mini-symposium, SIAM Northern States Annual Meeting, Wyoming</address>
                <time>May & September, 2019</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1> Optimizing flexibility in the collective decisions of honeybees</h1>
            <span><address>Mini-symposium, SIAM Life Science, Minnesota & Invited speakers Session, Mathfest, Denver</address>
                <time>August 2018</time></span>
        </header>
    </article>
    
    
        <article>
        <header>
            <h1> Modeling Influenza on a college campus using graphs of Social Networks</h1>
            <span><address>Pi Mu Epsilon Student Paper Sessions, Mathfest, Columbus & Undergraduate Capstone Conference, Mathematics Biosciences Institute, Ohio State University</address>
                <time>August 2016</time></span>
        </header>
    </article>
    
    
</section>

