<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Bidari, Subekshya, Orit Peleg, and Zachary P. Kilpatrick.</h1>
            <a href="https://royalsocietypublishing.org/doi/abs/10.1098/rsos.191681"> 
                <i>Social inhibition maintains adaptivity and consensus of foraging honeybee swarms in dynamic environments.</i>
            </a>
        </header>
    </article>
    
    <article>
        <header>
            <h1>Bidari, Subekshya, and Eli E. Goldwyn.</h1>
                <em>Stochastic models of influenza outbreaks on a college campus</em>
        </header>
    </article>
    
        <article>
        <header>
            <h1>Bidari, Subekshya, Xinying Chen, Daniel Peters, Dylanger Pittman, and Péter L. Simon. </h1>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0025556416302802">
                <em>Solvability of implicit final size equations for SIR epidemic models</em>
            </a>
        </header>
    </article>
    
</section>
