<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Bidari, Subekshya, Orit Peleg, and Zachary P. Kilpatrick.g</h1>
            <a href="https://royalsocietypublishing.org/doi/abs/10.1098/rsos.191681"> 
                <em>“Social inhibition maintains adaptivity and consensus of foraging honeybee swarms in dynamic environments."</em>
            </a>
            <span><address>Royal Society open science 6.12 (2019): 191681.</address></span>
        </header>
        <p>
            Its the dances that counted. Food they gathered and fed the colony. But HOW?
        </p>
    </article>
    <article>
        <header>
            <h1>Another One, cause we keep producing</h1>
            <span><address>The Math Publication Paper</address><time>August, 2020</time></span>
        </header>
        <p>
            Also why?
        </p>
    </article>
</section>


\cvitem{2019}{Bidari, Subekshya, Orit Peleg, and Zachary P. Kilpatrick.
 \emph{“Social inhibition maintains adaptivity and consensus of foraging honeybee swarms in dynamic environments."} Royal Society open science 6.12 (2019): 191681.}

\cvitem{2019}{ Bidari, Subekshya, and Eli E. Goldwyn.
 \emph{“Stochastic models of influenza outbreaks on a college campus."} Letters in Biomathematics(2019): 1-14.}

\cvitem{2016}{Bidari, Subekshya, et al. \emph{"Solvability of implicit final size equations for SIR epidemic model."} Mathematical biosciences 282 (2016): 181-190.} 
