---
layout: default
---
<h1>Resume</h1>
<hr />
<a href="{{ '/BidariCV.pdf' | relative.url}}"><i class="fa fa-fw fa-download"></i> Download PDF here</a>

<div class="row">
    {% include sections/employment.html %}
</div>
<div class="row">
    {% include sections/education.html %}
</div>
<div class="row">
    {% include sections/publications.html %}
</div>
<div class="row">
    {% include sections/presentations.html %}
</div>
<div class="row">
    {% include sections/fellowship.html %}
</div>
<div class="row">
    {% include sections/teaching.html %}
</div>

